{% extends 'layout.html' %}

{% block content %}

<main>
    {% if person is none %}
        <p>No matching person</p>
    {% else %}
        <table>
            <tr>
                <th>Id number</th>
                <th>Firstname</th>
                <th>Lastname</th>
            </tr>
                <tr>
                    <td>{{ person.id_number }}</td>
                    <td>{{ person.firstname }}</td>
                    <td>{{ person.lastname }}</td>
                </tr>
        </table>
    {% endif %}
</main>

{% endblock %}